@using ShareSmallBiz.Portal.Data
@using ShareSmallBiz.Portal.Infrastructure.Models.ViewModels
@model List<UserModel>
@{
    ViewData["Title"] = "Users";
}
<h1>Users</h1>
<table id="displayTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Email Confirmed</th>
            <th>User Name</th>
            <th>Roles</th>
            <th>Is Locked</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><a class="" asp-controller="UserRoles" asp-action="Edit" asp-route-userId="@user.Id">@user.Email</a></td>
                <td>@user.IsEmailConfirmed</td>
                <td><a class="" asp-controller="UserRoles" asp-action="Edit" asp-route-userId="@user.Id">@user.UserName</a></td>
                <td>
                    <a class="btn btn-primary-soft " asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.Id">@string.Join(" , ", user.Roles.ToList())</a>
                </td>
                <td>@user.IsLockedOut</td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#displayTable').DataTable({
                paging: false,        // Disable pagination
                scrollY: '50vh',      // Enable vertical scrolling and set the height
                scrollCollapse: true,  // Optional: Reduce the height of the table when there are fewer rows
                stateSave: true,
                colReorder: {
                    realtime: true, // update the table as you drag the columns (default: true)
                    fixedColumnsLeft: 1, // number of columns on the left that cannot be reordered
                    fixedColumnsRight: 1 // number of columns on the right that cannot be reordered
                }
            });
        });
    </script>
}